@charset "UTF-8";
/* CSS Document */

:root {
	--brancomesmo:#FFFFFF;
	/*--branco:#FBFFBB;*/
	/*--branco:#F2F6EF;*/
	--branco:#FEF9F0;
	--creme:hsl(72, 81%, 81%);
	--preto:#1B1C11;
	--roxo:#1D0F15;
	--rosa:hsl(0, 86%, 63%);
	--laranja:#FC913A;
	--amarelo:#F9D423;
	--verde:#CFFD90;
	--verdeclaro:#BFFFDF;
	--verdedois:#C3FF68;
	/*--verde:#C7F464;*/
	--vermelho:#E23E0C;
	--bege:#EDE574;
	--cinza:#E1F5C4;
	/*--azul:#C9FFF2;*/
	--azul:#40C0CB;
	--azulclaro:#BAE4E5;
	--curvatura: cubic-bezier(0.34, 0.81, 0, 0.99);
	--giro: cubic-bezier(.38,.72,.81,.43);
	--radius: 4px;
	--circulo: 90px;
	--maxbody:1366px;
}

.visivel {display:block;}

/* loader spinner */
#loader {z-index:999999999;position:relative;margin:auto;background-color:var(--creme);}
.spinner {
  animation: giro 2s var(--giro) infinite;
  position:fixed;
  top:-144px;
  left:0;
  bottom:0;
  right:0;
  width:34px;
  height:34px;
  margin:auto;
  display:inline-block;
}
.path {
    stroke: var(--creme);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

#enviando {
	position:relative;
	margin-top:3%;
	display:none;
}
#enviandospinner {
	top:144px;
	left:0;
	bottom:0;
	right:0;
	width: 26px;
	height: 26px;
	margin:auto;
	display: inline-block;
	border: 2px solid var(--roxo);
	border-radius:var(--circulo);
	border-top-color: var(--creme);
	animation: giro 1s var(--giro) infinite;
	-webkit-animation: giro 1s var(--giro) infinite;
}

@keyframes giro {
	to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes giro {
	to { -webkit-transform: rotate(360deg); }
}
/* loader spinner */

body {
	background-color:var(--roxo);
	padding:0;
	margin:0 auto;
	width:100%;
	max-width:var(--maxbody);
	user-select:none;
	overscroll-behavior-x:none;
	overscroll-behavior-y:auto;
	-webkit-tap-highlight-color: transparent;
}

* {
	box-sizing: border-box;
	/* font-family: 'Lato', sans-serif; */
	font-family: 'Mulish', sans-serif;

	-webkit-transition: all 0.34s var(--curvatura);
	-moz-transition: all 0.34s var(--curvatura);
	-ms-transition: all 0.34s var(--curvatura);
	-o-transition: all 0.34s var(--curvatura);
}

::-webkit-scrollbar {
	width:13px;
	height:13px;
	background:var(--roxo);
}

::-webkit-scrollbar-thumb {
	background:var(--creme);
	border:3.4px solid var(--roxo);
	max-width:13px;
	border-radius:var(--circulo);
}

html {
	width:100%;
	height:100%;
	padding:0;
	margin:0 auto;
	overflow: scroll;
	overflow-x: hidden;
}

corpo {
	padding:0;
	margin:0 auto;
}

/* inputs */
::-webkit-input-placeholder {color:var(---creme);}
::-webkit-input-placeholder {color:var(---creme);}
::-moz-placeholder {color:var(---creme);}
::-ms-placeholder {color:var(---creme);}
::placeholder {color:var(---creme);opacity:1;}
textarea::-webkit-input-placeholder {color:var(---creme);}
textarea::-webkit-input-placeholder {color:var(---creme);}
textarea::-moz-placeholder {color:var(---creme);}
textarea::-ms-placeholder {color:var(---creme);}
textarea::placeholder {color:var(---creme);opacity:1;}

textarea {
	border:3px solid var(--rosa);
	resize:none;
}

label:before {content:'〉';}
label {
	max-width:100%;
	min-width:100%;
	color:var(--preto);
	font-size:13px;
	padding:0;
	padding-bottom:5px;
	margin:0 auto;
	margin-top:3px;
	float:left;
	text-align:left;
	vertical-align:bottom;
	color:var(--creme);
}

label.upload {}
label.upload:before {content:'';}

input[type=text],  input[type=number],  input[type=email], input[type=password], textarea, input[type=number] {
	border:3px solid var(--rosa);
	border-radius:var(--circulo);
	outline:none;
	padding-left:18px !important;
	background-color:var(--roxo);
	color:var(--creme);
	width:100%;
	left:0;
	padding:11px 5px;
	margin:1px auto;
	font-size:12px;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	background-color:var(--creme) !important;
	color:var(--roxo) !important;
}

/* mostra as setas do input number sempre */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	/*opacity: 0;*/
}

input.bordarosa, textarea.bordarosa {
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:3px solid var(--rosa);
	border-left:1px solid transparent;
	border-radius:var(--radius);
	color:var(--rosa);
}
/* inputs */

/* custom select */
select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance: none;
	border:1px solid var(--preto);
	outline:none;
	background:url(img/seta.png) no-repeat right 0.8em center/1.4em, linear-gradient(to left, var(--preto) 3em, var(--creme) 3em);
	color:var(--preto) !important;
	border-radius:var(--radius);
	cursor:pointer;
	width:100%;
	left:0;
	padding:11px 5px;
	margin:1px auto;
	font-size:12px;
}

select option {
	color:var(--preto) !important;
	padding:3px 5px;
	background-color: var(--creme);
}

select:focus {
	outline: none;
	background-color:var(--creme) !important;
	color:var(--preto) !important;
	border-radius:var(--radius);
}
select::-ms-expand {
	display: none;
}

select.bordarosa {
	border-top:1px solid var(--rosa);
	border-right:1px solid var(--rosa);
	border-bottom:3px solid var(--rosa);
	border-left:1px solid var(--rosa);
	border-radius:var(--radius);
	color:var(--rosa);
}
/* custom select */

@media screen and (max-width: 380px) {
	body {max-width:100%;}
}

a {
	text-decoration:none;
}

img {
	display:block;
	margin:0 auto;
	user-drag: none;
	vertical-align:middle;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

div.conteudo {
	min-width:100%;
	max-width:100%;
	min-height:64vh;
	text-align:center;
	margin:0 auto;
}

section.menutop {
	text-align:center;
	width:100%;
	/* max-width:1280px; */
	max-width:var(--maxbody);
	border:0px;
}

img.menutop {float:left;margin-top:1.6%;height:20px;width:20px;}

section.menu {
	width:30%;
	margin:auto;
	display:block;
	padding:2%;
	height:auto;
	margin-bottom:200px;
}

div.menu {
	float:left;
	width:50%;
	margin:0 auto;
	height:auto;
}

table {
	padding-left:0px;
	padding-bottom:21px;
	padding-top:21px;
	padding-right:0px;
	max-width:80%;
	font-size:11.1pt;
	text-align:left;
	margin:0 auto;
}

.menutop .icon {display:none;}

@media screen and (max-width: 1200px) {
	.menutop a:not(:first-child) {display:none;}
	.menutop a.icon {float:left;display:inline-block;}
	.menutop .icon {position:absolute;right:0;top:0;padding:18px;padding-right:1%;z-index:99;}

	.menutop.responsive {z-index:99;}
	.menutop.responsive a:not(:first-child) {float:none;margin:0;display:block;text-align:left;z-index:99;}
	.menutop.responsive p {padding:3px 0px;padding-left:3%;}
	.menutop.responsive p:before {content:"";}
	.menutop .menutopprimeiro {margin-top:13px;}
}

@media screen and (max-width: 600px) {
	corpo {margin:3px;}
	div.container {min-width:81%;max-width:81%;margin:0 auto;}
	div.conteudo {width:100%;}
}

div.container {
	margin:0 auto;
	min-width:72%;
	max-width:72%;
	display:inline-block;
}

p.titulopagina {color:var(--creme);min-width:80%;max-width:80%;margin:0 auto;margin-bottom:0;text-align:center;font-size:34px;}
@media screen and (max-width: 480px) {
	p.titulopagina {font-size:26px;}
}

p.titulocarro {min-width:80%;max-width:80%;margin:0 auto;margin-bottom:0;text-align:center;font-size:26px;}
@media screen and (max-width: 480px) {
	p.titulocarro {font-size:18px;}
}

p.titulorelatorio {min-width:100%;max-width:100%;margin:0 auto;margin-bottom:13px;text-align:right;font-size:26px;}
p.titulorelatorio::before {content:'• ';}
@media screen and (max-width: 480px) {
	p.titulorelatorio {font-size:18px;}
}

@media screen and (max-width: 1024px) {
	div.banner-bottom-wrap {min-width:100%;max-width:100%;height:auto;margin:0 auto;}
	div.banner-bottom-inner {min-width:100%;max-width:100%;margin:0 auto;}
	img.banner-bottom-logo {float:none;vertical-align:middle;}
	p.banner-bottom-info {text-align:center;padding:0;min-width:100%;max-width:100%;margin:0 auto;margin-bottom:27px;}
	div.slots {min-width:100%;max-width:100%;margin:0 auto;}
	div.banner-bottom-logo, a.banner-bottom-logo {min-width:100%;max-width:100%;text-align:center;}
	a.banner-bottom-lista, a.banner-bottom-titulo {min-width:100%;max-width:100%;float:left;text-align:center;padding:0;margin:0 auto;margin-bottom:3px;}
	div#social-bot {display:inline-block;}
}
/* banner bottom */

.items {min-width:100%;max-width:100%;margin:0 auto;padding:13px;}

.boxShadowMenuWrap {-webkit-box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.18);box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.18);}
.bgBrancoMenuWrap {background: rgba(255, 255, 255, 0.18);backdrop-filter:blur(3px);padding:1.8% 3.6% !important;}
#menutopwrap {min-height:90px;display:flex;flex-direction:row;align-content:center;justify-content:flex-end;align-items:center;position:fixed;top:0;left:0;right:0;width:100%;max-width:var(--maxbody);border-bottom:1px solid var(--roxo);background-color:var(--roxo);margin:0 auto;padding:1.8% 5%;z-index:100;text-align:center;}
#menutopwrap img {cursor:pointer;width:100%;height:auto;vertical-align:middle;display:inline-block;}
#logotop {position:absolute;left:3%;max-width:55px;}
.buttontopwrap {width: 333px;height: 100%;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-evenly;align-items: center;align-content: center;}
.buttontopwraplogado {position:relative;width: 180px;height: 100%;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-evenly;align-items: center;align-content: center;}
.buttontop {cursor:pointer;float:left;margin-right:13px;padding:5px 13px;border:3px solid var(--rosa);border-radius:var(--circulo);background-color:var(--roxo);color:var(--creme);}
@media only screen and (max-width: 900px) {
	.buttontopwrap {width:270px;}
}
@media only screen and (max-width: 420px) {
	.buttontop {display:none;}
}
.buttontop:hover {border:3px solid var(--creme);}
.buttontop p {margin-top:-1px;font-size:12px;}

fieldset {
	position:relative;
	display: flex;
	justify-content: space-between;
	border:1px solid var(--rosa);
	margin-top:5px;
	padding:0;
}

legend {
	margin: 0 auto;
	margin-bottom:-3px;
	font-size:10px;
	color:var(--rosa);
}

#infotop {color:var(--creme);cursor:pointer;}
#infotop:after {content: attr(data-content) '▾';display:inline-block;font-size:10px;}
#infotop:before {background-image:url('/img/usericon.png');height:13px;width:13px;background-repeat: no-repeat;background-size: 13px 13px;position:absolute;}
#infotop.ativo:after {content: attr(data-content) '▴';display:inline-block;font-size:10px;}
#submenuclientewrap {position:absolute;transform: translateX(-50%);left:50%;min-width:100px;max-width:144px;width:100%;}
#submenucliente {min-width:100px;max-width:144px;width:100%;background-color:var(--roxo);}
#submenucliente p {text-align:center;padding:8px 5px;font-size:13px;color:var(--creme);}
#submenucliente div {cursor:pointer;display:inline-block;}
#submenucliente div:not(:last-child) {border-bottom:1px solid var(--rosa);}}
div.submenucliente:hover p.submenucliente {background-color:var(--creme);color:var(--roxo);}

.buttonsuperior {cursor:pointer;float:left;padding:5px 13px;border:3px solid var(--rosa);border-radius:var(--circulo);background-color:var(--roxo);}
.buttonsuperior:hover {background-color:var(--roxo);border:3px solid var(--creme);}
.buttonsuperior p {color:var(--creme);margin-top:-2px;font-size:13px;}

.superiorcoluna {vertical-align:top;}
.superiorrow {display: flex;min-width:100%;max-width:100%;margin-bottom:1.8%;flex-direction: column;flex-wrap: wrap;align-content: flex-start;justify-content: flex-start;align-items: flex-start;}
.superioritem {cursor:pointer;padding:5px 13px;border-radius:var(--circulo);background-color:var(--creme);color:var(--roxo);margin-top:3px;}
.superioritem:hover {background-color:var(--rosa);color:var(--creme);}

/* botao fechar */
.fechar {
	cursor:pointer;
	position:absolute;
	top:0;
	width:34px;
	height:34px;
}

.fecharspanwrap {
	position:absolute;
	top:55%;
}

.fechar span {
	display: block;
	position: absolute;
	height: 4.3px;
	width: 21px;
	top:34%;
	background: var(--creme);
	border-radius:var(--circulo);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
/* botao fechar */

/* botao fechar superior */
#fecharsuperior {
	display:none;
	cursor:pointer;
	position:absolute;
	top:3%;
	right:0;
	width:34px;
	height:34px;
}

@media only screen and (max-width: 600px) {
	#fecharsuperior {display:inline-block;}
}

#fecharsuperior span {
	display: block;
	position: absolute;
	height: 4.3px;
	width: 21px;
	top:34%;
	background: var(--creme);
	border-radius:var(--circulo);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
/* botao fechar superior */

/* abre menu superior */
#abremenusuperior {
	float:right;
	margin-top:3px;
	height:26px;
	width: 26px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	cursor: pointer;
}

#abremenusuperior span {
	display: block;
	position: absolute;
	height: 3.6px;
	width: 100%;
	background: var(--creme);
	border-radius:var(--circulo);
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

#abremenusuperior span:nth-child(1) {
	top: 3pxpx;
}

#abremenusuperior span:nth-child(2),#abremenusuperior span:nth-child(3) {
	top: 9px;
}

#abremenusuperior span:nth-child(4) {
	top: 18px;
}

#abremenusuperior.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#abremenusuperior.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#abremenusuperior.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#abremenusuperior.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
/* abre menu superior */

.painelbutton {cursor:pointer;display:inline-block;border:1px solid var(--preto);background-color:var(--creme);color:var(--preto);font-size:15px;border-radius:var(--radius);padding:5px 8px;padding-bottom:8.5px;text-align:left;margin:1.2%}
.painelbutton:hover {background-color:var(--preto);color:var(--creme);}
.montabotao {cursor:pointer;font-size:18px;margin:0 auto;margin-top:3px;border-radius:var(--circulo);border:1px solid transparent;padding:8px;padding-top:4px;background-color:var(--creme);color:var(--roxo);}
.montabotao:hover {background-color:var(--roxo);color:var(--creme);}

.optionsinnerwrap {display:flex;justify-content: center;align-items: center;align-content: center;flex-wrap: wrap;flex-direction: row;}
.optionswrap{min-width:58%;max-width:58%;display:inline-block;}
#outerwrapsuperior{height:100%;min-width:340px;border:0;border-left:8px solid;border-right:1px solid;border-color:var(--rosa);background-color:var(--roxo);}
.optionsmenuinnerwrap {height:100%;display:flex;flex-direction: column;flex-wrap:nowrap;justify-content: center;align-items: center;align-content: space-around;padding:8%;}
.optionsmenuwrap{height:100%;}
.retorno {vertical-align:middle;padding:0;margin:0 auto;margin-bottom:1%;display:inline-block;color:var(--creme);}
div.listawrap {min-width:100%;max-width:100%;margin:0 auto;}
p.lista {min-width:100%;max-width:100%;margin:0 auto;text-align:left;}
p {margin:0 auto;}


/* configuracoes */
.secaoconfig {border-left:13px solid var(--preto);;padding:1.8%;margin:1% auto;font-size:21px;text-align:left;}
.salvarconfig:before {content:'>';}
.salvarconfig {min-width:21%;max-width:21%;cursor:pointer;display:inline-block;border:1px solid var(--preto);background-color:var(--preto);color:var(--creme);padding:11px 21px;margin:0 auto;border-radius:var(--radius);font-size:13px;vertical-align:top;}
.editbtn {cursor:pointer;display:inline-block;vertical-align:middle;border:1px solid var(--preto);border-radius:var(--radius);background-color:var(--preto);color:var(--creme);padding:8px 13px;}
.editbtn:hover {background-color:var(--amarelo);color:var(--preto);border:1px solid var(--amarelo);}
/* configuracoes */

/* tabela */
table {border-collapse:collapse;border:0px solid var(--preto);color:var(--preto);}
th.dashitem {background-color:var(--vermelho);text-align:center;padding:8px 3px;font-size:13px;vertical-align:middle;border-left:0px solid var(--preto);border-right:0px solid var(--preto);}
td.dashitem {text-align:center;padding:18px 13px;font-size:13px;vertical-align:middle;border-left:0px solid var(--preto);border-right:0px solid var(--preto);}
input.dashitem {text-align:center;vertical-align:middle;}
tr.dashitemcontainer:nth-of-type(odd) {background-color:var(--creme);}
tr.dashitemcontainer:nth-of-type(odd):hover {background-color:var(--rosa);}
tr.dashitemcontainer:nth-of-type(even) {background-color:var(--preto);color:var(--creme);}
tr.dashitemcontainer:nth-of-type(even):hover {background-color:var(--rosa);}
/* tabela */

/* explicação */
span.info:before, span.infomenu:before {
	content:" ";
}
span.info {
	position:relative;
	display:inline-block;
	border-radius:var(--circulo);
}
span.infomenu {
	position:relative;
	border-radius:var(--circulo);
}
span.info[aria-label]:hover:after {
	position: absolute;
	content: attr(aria-label);
	font-size:13px;
	line-height:21px;
	text-align:center;
	top:-34px;
	left:50%;
	transform: translateX(-50%);
	width:auto;
	white-space: nowrap;
	margin-left:auto;
	margin-right:auto;
	padding:5px 8px;
	background-color:var(--preto);
	color:var(--bege);
	border:1px solid var(--creme);
	border-radius:var(--radius);
	z-index:10;
}
span.infomenu[aria-label]:hover:after {
	position: absolute;
	content: attr(aria-label);
	font-size:13px;
	line-height:21px;
	text-align:center;
	top:3px;
	left:45px;
	width:auto;
	white-space: nowrap;
	padding:5px 8px;
	background-color:var(--preto);
	color:var(--bege);
	border:1px solid var(--creme);
	border-radius:var(--radius);
	z-index:10;
}
/* explicação */

/* calendário */
.mes-wrap {min-width:100%;max-width:100%;display:inline-block;padding:3%;border:1px solid var(--cinza);background-color:var(--creme);border-radius:var(--radius);}
tr.calendar-row-headings {border:1px solid var(--cinza);border-top:0;border-left:0;border-right:0;margin-bottom:1.2%;}
td.calendar-day-head {padding:1.8%;padding-top:0;text-align:center;}
td.escolhido {padding:5px;}
td.calendar-day:hover {background-color:var(--creme);}
td.calendar-day {text-align:center;padding:0.1%;cursor:pointer;}
td.calendar-day-antes {text-align:center;margin:0.1%;background-color:var(--cinza);color:var(--preto);cursor:not-allowed;}
td.calendar-day-disponivel {text-align:center;margin:0.1%;background-color:var(--verde);color:var(--preto);cursor:pointer;}
td.calendar-day-ocupado {text-align:center;margin:0.1%;background-color:var(--rosa);color:var(--creme);cursor:not-allowed;}
td.calendar-day-devolvido {text-align:center;margin:0.1%;background-color:var(--amarelo);color:var(--preto);cursor:pointer;}
td.selecionado {background-color:var(--preto) !important;color:var(--creme) !important;}
td.hoje>.day-number {font-weight:900;}
.feriado {font-weight:900 !important;color:var(--azul) !important;}
div.abrecalendario {cursor:pointer;display:inline-block;min-width:9%;max-width:9%;margin:0 auto;vertical-align:middle;}
/* calendário */

/* paginacao */
td.link-pagina {border-radius:var(--circulo);padding:5px 9px;}
.paginaatual {background-color:var(--preto);color:var(--creme) !important;}
a.link-pagina {display:inline;}
a.link-pagina:hover {text-decoration:none;}
p.link-pagina {font-size:15px;color:var(--preto);margin:0;}
/* paginacao */

/* cards */
.cardslot {background-color:var(--preto);margin:1%;padding:5% 8%;padding-top:3.6%;border-radius:var(--radius);border:1px solid var(--preto);display:inline-block;text-align:left;cursor:pointer;vertical-align:middle;}
.cardslot:hover {background-color:var(--creme);}
.cardslot:hover .grande, .cardslot:hover .pequeno {color:var(--preto) !important;}
@media screen and (max-width: 1024px) {
	.cardslot {display:block !important;}
}
p.painelheader {display:inline-block;min-width:100%;max-width:100%;padding:5px;margin:1% auto;background-color:var(--preto);color:var(--creme);}
p.grande {font-size:21px;margin:0 auto;color:var(--creme);}
p.pequeno {font-size:13px;margin:0 auto;}
.bloquinho {background-color:var(--creme);color:var(--preto);border:1px solid var(--preto);padding:1.8% 3%;border-radius:var(--radius);display:inline-block;}
.bloquinho:hover {background-color:var(--preto);color:var(--creme);}
.confirmacaocardwrap {text-align:left;margin-top:1.8%;}
.confirmacaocard {background-color:var(--creme) !important;color:var(--preto) !important;border:1px solid var(--preto) !important;padding:3% 5%;border-radius:var(--circulo);border:1px solid var(--creme);margin:1.8%;margin-left:0;display:inline-block;}
.confirmacaocard:hover {background-color:var(--preto) !important;color:var(--creme) !important;}
.lembretecardwrap {display:inline-block;}
.lembretecard {background-color:var(--creme) !important;color:var(--preto) !important;border:1px solid var(--preto) !important;padding:3% 5%;border-radius:var(--circulo);border:1px solid var(--creme);margin:1.8%;margin-left:0;display:inline-block;}
.lembretecard:hover {background-color:var(--preto) !important;color:var(--creme) !important;}
#selecionardatas {display:inline-block;border:1px solid var(--preto);border-radius:var(--radius);padding:5% 8%;padding-top:3.6%;margin-bottom:3%;cursor:pointer;color:var(--creme);}
#selecionardatas:hover{background-color:var(--preto);}
#selecionardatas:hover>*{color:var(--creme) !important;}
/* cards */

/* disponivel periodo */
.veiculodisponivelperiodo {min-width:100%;max-width:100%;display:inline-block;font-size:15px;background-color:transparent;color:var(--preto);margin:1.8% auto;margin-right:3%;padding:8%;padding-top:5.5%;border:1px solid var(--preto);border-radius:var(--radius);cursor:pointer;}
.veiculodisponivelperiodo:hover, .veiculodisponivelperiodo:active {background-color:var(--azul);color:var(--creme);border:1px solid transparent;}
.veiculodisponivelperiodogrande {min-width:100%;max-width:100%;display:inline-block;font-size:18px;background-color:transparent;color:var(--preto);margin:1.8% auto;margin-right:3%;padding:8%;padding-top:6.4%;border:1px solid var(--preto);border-radius:var(--radius);cursor:pointer;}
.veiculodisponivelperiodogrande:hover, .veiculodisponivelperiodogrande:active {background-color:var(--azul);color:var(--creme);border:1px solid transparent;}
.vertodosperiodo {min-width:100%;max-width:100%;display:inline-block;text-align:center;font-size:15px;background-color:transparent;color:var(--preto);margin:1.8% auto;margin-right:3%;padding:8%;padding-top:5.5%;border:1px solid var(--preto);border-radius:var(--radius);cursor:pointer;}
.vertodosperiodo:hover, .vertodosperiodo:active {background-color:var(--azul);color:var(--creme);border:1px solid transparent;}
div.selecao {display:inline-block;border:1px solid var(--preto);padding:2% 3%;padding-top:1.8%;cursor:pointer;-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.18);-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.18);box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.18);border-radius:var(--circulo);cursor:pointer;}
p.selecao {font-size:15px;}
div.selecao:hover, div.selecao:active {background-color:var(--azul);color:var(--creme);border:1px solid transparent;}
/* disponivel periodo */

/* confirmação */
.confirmacao {background-color:var(--preto);color:var(--creme);margin:1%;padding:3% 5%;padding-top:2.3%;border-radius:var(--radius);border:1px solid var(--preto);display:inline-block;text-align:left;cursor:pointer;vertical-align:middle;}
.confirmacao:hover {background-color:var(--creme);color:var(--preto);}
/* confirmação */

/* devolucao */
p.titulosessao {font-size:34px;margin-top:3%;}
/* devolucao */

/* sombra */
.sombraabaixo {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
}
/* sombra */

/* aviso */
.aviso {
	min-width:100%;
	max-width:100%;
	text-align:left;
	font-size:13px;
	background-color:var(--amarelo);
	color:var(--preto);
	padding:3%;
	margin-bottom:3%;
}
.aviso::before {content:'• ';}
/* aviso */

/* alteracoes */
.respostaalteracao {font-size:21px;background-color:var(--creme);color:var(--preto);border-radius:var(--radius);padding:8px 13px;}
/* alteracoes */

/* sucesso */
#sucessogif {width:100%;max-width:90px;height:auto;}
/* sucesso */

/* icones */
div.icone {cursor:pointer;display:inline-block;margin:1%;vertical-align:middle;}
img.icone {
	width:100%;
	max-width:49px;
	height:auto;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.18);
	border-radius:var(--circulo);
}

div.iconesuporte {cursor:pointer;position:fixed;top:86%;left:81%;z-index:1;background-color:var(--cinza);border-radius:var(--circulo);padding:8px 1.8%;}
@media screen and (max-width: 640px) {
	div.iconesuporte {left:64%;padding:8px 13px;}
}
div.iconesuporte img {}
p.suporte {display:inline-block;color:var(--preto);}
div.iconesuporte:hover {background-color:var(--preto);}
div.iconesuporte:hover p.suporte {color:var(--creme);}

div.iconewapp {cursor:pointer;position:fixed;top:86%;right:3%;z-index:2;background-color:var(--creme);border:3px solid var(--roxo);border-radius:var(--circulo);padding:1px;}
div.iconewapp:hover {background-color:var(--creme);border:3px solid var(--creme);}

div.iconemenu {width:100%;padding:5%;cursor:pointer;}
div.iconemenu:hover img.iconemenu {opacity:0.72;}

.dropdown {min-width:100%;max-width:100%;position:relative;display:inline-block;}
div.submenu {display:none;cursor:pointer;position:absolute;top:0;left:81px;width:auto;min-width:100%;min-height:100%;background-color:var(--creme);z-index:99999999999999999999999999999999999999999999999999999999999;}

.submenu a:first-child {border-top:1px solid var(--preto);}
.submenu a:not(:first-child) {border-left:1px solid var(--preto);}
.submenu a:last-child {border-bottom:1px solid var(--preto);}
.submenu a {
	display:block;
	min-height:100%;
	text-align:left;
	padding:4px 21px;
	text-decoration:none;
	color:var(--preto);
	white-space:nowrap;
	border-right:1px solid var(--preto);
}
.submenu a:before {content:'• ';}
.submenu a:hover {background-color: var(--verdeclaro);}
div.dropdown:hover {background-color: var(--verdeclaro);}
div.dropdown:hover div.iconemenu {background-color: var(--verdeclaro);}
div.dropdown:hover .submenu {display: inline-block;}

img.iconemenu {
	width:100%;
	max-width:39px;
	height:auto;
}
/* icones */

/* relatórios */
div.relatorio {min-width:100%;max-width:100%;display:inline-block;}
.relatoriowrap {
	background-color:var(--verdeclaro);
	color:var(--preto);
	min-width:100%;
	max-width:100%;
	display:inline-block;
	margin:1% auto;
	padding:3% 5%;
	padding-top:1.8%;
	border-left:8px solid var(--preto);
	cursor:pointer;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
}
.relatoriowrap:hover {background-color:var(--verdedois) !important;color:var(--preto) !important;}
.slotrelatoriowrap {min-width:33%;max-width:33%;float:left;vertical-align:top;}
@media screen and (max-width: 1024px) {
	.slotrelatoriowrap {min-width:100%;max-width:100%;}
}
.slotrelatorio {min-width:100%;max-width:100%;float:left;vertical-align:top;}
.headerslotrelatorio {min-width:100%;max-width:100%;display:inline-block;font-size:12px;text-align:left;}
.headerslotrelatorio::before {content:'• ';vertical-align:text-bottom;}
.infoslotrelatorio {min-width:100%;max-width:100%;font-size:15px;text-align:left;}
p.relatorio {min-width:33%;max-width:33%;display:inline-block;}
p.relatorio:first-child {text-align:left;}
p.relatorio:not(:first-child):not(:last-child) {text-align:center;}
p.relatorio:last-child {text-align:right;}
@media screen and (max-width: 1024px) {
	p.relatorio {min-width:100%;max-width:100%;text-align:center !important;}
}
#verrelatorio {display:inline-block;background-color:var(--preto);color:var(--creme);margin-top:0;padding:13px 34px;border-radius:var(--radius);vertical-align:middle;cursor:pointer;}
div.piechart {display:inline-block;height:180px;width:400px;}
@media screen and (max-width: 1024px) {
	div.piechart {width:300px;height:120px;}
}
/* relatórios */

/* slider switch */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 21px;
	border-radius:var(--circulo);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(179,179,179,0.18);
	-moz-box-shadow: 0px 0px 3px 0px rgba(179,179,179,0.18);
	box-shadow: 0px 0px 3px 0px rgba(179,179,179,0.18);
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch::before {
	content: '';
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider:before {
	position: absolute;
	content: "";
	height: 23px;
	width: 23px;
	left: 0;
	bottom: 0;
	top: -1.5px;
}

input:checked + .slider {
	background-color: var(--azul);
}

input:not(:checked) + .slider {
	background-color: var(--cinza);
}

input:checked + .slider:before {
	-webkit-transform: translateX(36px);
	-ms-transform: translateX(36px);
	transform: translateX(36px);
	background-color: aliceblue;
	-webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.18);
	box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.18);
	-webkit-transition: all 0.34s var(--curvatura);
	-moz-transition: all 0.34s var(--curvatura);
	-ms-transition: all 0.34s var(--curvatura);
	-o-transition: all 0.34s var(--curvatura);
}

input:not(:checked) + .slider:before {
	-webkit-transform: translateX(-3px);
	-ms-transform: translateX(-3px);
	transform: translateX(-3px);
	background-color: aliceblue;
	-webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.18);
	box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.18);
	-webkit-transition: all 0.34s var(--curvatura);
	-moz-transition: all 0.34s var(--curvatura);
	-ms-transition: all 0.34s var(--curvatura);
	-o-transition: all 0.34s var(--curvatura);
}

.slider.round {
	border-radius:var(--circulo);
}

.slider.round:before {
	border-radius:var(--circulo);
}
/* slider switch */

/* opcoes */
.opcoes {background-color:var(--creme);color:var(--roxo);border:1px solid var(--roxo);padding:8px 13px;border-radius:var(--radius);display:inline-block;margin:3px;float:left;line-height:1;cursor:pointer;font-size:13px;}
.opcoes:hover {background-color:var(--rosa) !important;color:var(--creme) !important;}
.opcoes.selecionada {background-color:var(--rosa) !important;color:var(--creme) !important;}
/* opcoes */

/* slides */
.carouselslides {display: none;}

.slideshow-wrapper {
	min-width:100%;
	max-width:100%;
	margin:0 auto;
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top:43%;
	padding:21px 36px;
	border-radius:var(--radius);
	background:url(img/seta.png) no-repeat right 1.5em center/1.4em, transparent;
}

.next {
	right: -21px;
	transform:rotate(-90deg);
}
.prev {
	left: -21px;
	transform:rotate(90deg);
}

.prev:hover, .next:hover {
	background-color:var(--roxo);
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: 1;}
	to {opacity: 1;}
}

@keyframes fade {
	from {opacity: 1;}
	to {opacity: 1;}
}

@media only screen and (max-width: 900px) {
	.prev, .next {top:33%;}
}
@media only screen and (max-width: 300px) {
	.prev, .next, .text {font-size: 11px}
}

.slideouterwrapper {min-width:100%;max-width:100%;background-color:var(--roxo);}
.slideinnerwrapper {min-width:72%;max-width:72%;display:inline-block;position:relative;}
.slideImg {position:absolute;vertical-align:top;}
.slideResImg {float:left;width:100%;max-width:480px;height:auto;}

.slideVDivTxt {position:absolute;display:inline-block;}
.pSlideTitulo {min-width:48%;max-width:48%;float:left;;text-align:left;color:var(--creme);z-index:1;font-size:15px;word-break:break-all;}
.pSlideDesc {min-width:48%;max-width:48%;float:right;text-align:right;color:var(--creme);}
.slideVeiculoButton {position:absolute;margin-top:21%;width:100%;max-width:180px;height:auto;}

.botaopretobranco {min-width:100%;max-width:100%;display:inline-block;background-color:var(--preto) !important;color:var(--creme) !important;margin:0 auto;padding:5% 8%;padding-top:3.6%;border-radius:var(--radius);border:1px solid var(--preto);background-color:var(--creme);text-align:center;cursor:pointer;vertical-align:middle;}
.hoverbranco:hover {background-color:var(--creme) !important;color:var(--preto) !important;}
/* veiculo slides */

/* upload img form */
label.upload {position:relative;cursor:pointer;text-align:center;float:none;margin:13px;}
p.uploadcaption {;position:absolute;top:40%;transform:translateY(-40%);left:50%;transform:translateX(-50%);margin:0 auto;font-size:18px;white-space:nowrap;opacity:0.86;}
img.uploadicon {width:100%;max-width:260px;height:auto;}
/* upload img form */

/* titulos */
.titulosouterwrap {min-width:100%;max-width:100%;display:inline-block;margin:0 auto;}
.titulosinnerwrap {position:relative;min-width:62%;}
.titulop {color:var(--creme);background-color:var(--roxo);border-radius:var(--circulo);font-size:34px;font-weight:900;white-space:nowrap;padding:13px 21px;display:inline-block;}
.tituloliso {display:inline-block;color:var(--creme);font-size:34px;font-weight:900;text-align:center;margin-top:3%;margin-bottom:3px;border-bottom:5px solid var(--vermelho);}
.titulolisowrap {min-width:100%;max-width:100%;display:inline-block;}
@media only screen and (max-width: 770px) {
	.titulosinnerwrap {min-width:100%;max-width:100%;padding:1.8% 3%;position:static;height:auto;}
	.titulop {position:static;font-weight:normal;font-size:23px;}
	.tituloliso {font-size:23px;}
}
/* titulos */

/* sobre */
#sobre {min-width:100%;max-width:100%;display:inline-block;margin-bottom:1.8%;}
.sobrep {color:var(--creme);padding:1% 8%;padding-top:1%;text-align:justify;}
/* sobre */

/* metodo */
#metodo {min-width:100%;max-width:100%;display:inline-block;margin-bottom:1.8%;}
.metodowrap {
	min-width:30%;
	max-width:30%;
	display:inline-block;
}
.metodoimg {
	height:auto;
	width:100%;
	max-width:90px;
	margin:3% auto;
}
.metodotitulo {
	min-width:100%;
	max-width:100%;
	display:inline-block;
	font-size:21px;
	color:var(--creme);
}
@media only screen and (max-width: 900px) {
	.metodoimg {max-width:34px;}
	.metodotitulo {font-size:13px;}
}
/* metodo */

/* contadores */
#contagem {min-width:100%;max-width:100%;display:inline-block;margin:3% auto;margin-top:0;}
.contawrap {
	min-width:30%;
	max-width:30%;
	display:inline-block;
}
@media only screen and (max-width: 900px) {
	.contawrap {
		min-width:100%;
		max-width:100%;
	}
}
.contanumero {
	min-width:100%;
	max-width:100%;
	display:inline-block;
	font-size:45px;
	font-weight:900;
	color:var(--creme);
}
.contatitulo {
	min-width:100%;
	max-width:100%;
	display:inline-block;
	font-size:21px;
	color:var(--creme);
}
/* contadores */

/* vantagens */
#vantagens {min-width:100%;max-width:100%;display:inline-block;padding:0px 8%;}
.vantagemouterwrap {min-width:100%;max-width:100%;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:center;padding:3px 0px;margin:3px auto;border-bottom:1px solid var(--creme);}
.vantagemnome {min-width:36%;max-width:36%;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:center;align-content:center;}
.vantagemdesc {display:inline-block;padding:1%;}
.vantagemtxtwrap {float:left;padding:0px 3px;}
.vantagemdescinnerwrap {display:flex;flex-direction:row;flex-wrap:nowrap;align-content:center;justify-content:flex-start;align-items:center;}
p.vantagem {color:var(--creme);font-size:27px;font-weight:900;text-align:left;}
p.vantagemtitulo {color:var(--creme);font-size:13px;text-align:left;}
p.vantagemdesc {color:var(--creme);font-size:13px;text-align:left;}
.iconevantagemwrap {display:inline-block;}
.iconevantagem {width:49px;height:auto;}

@media only screen and (max-width: 600px) {
	#vantagens {padding:8%;}
	.vantagemouterwrap {flex-direction:column;padding:1.8% 3%;}
	.vantagemnome {min-width:100%;max-width:100%;}
	.vantagemdesc {min-width:auto;max-width:auto;}
}
/* vantagens */

/* rodape */
#rodape {
	background-color:var(--rosa);
	margin-top:1.8%;
	padding:1.8%;
	min-width:100%;
	max-width:100%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-content:space-around;
	justify-content:space-around;
	align-items:center;
}

@media only screen and (max-width: 600px) {
	#rodape {flex-direction:column;align-items:center;}
	.rodapecoluna {margin-bottom:5%;}
}

p.infobottom {font-size:13px;color:var(--roxo);text-align:center;padding-top:1.8%;}
p.bottom {
	min-width:100%;
	max-width:100%;
	font-size:9px;
	color:var(--preto);
	text-align:center;
	margin:0 auto;
	padding:1% 0px;
	bottom:0;
	background-color:var(--creme);
}

.rodapeinfo {font-size:0.67em;color:var(--creme);text-align:left;}
.rodaperow {display: flex;min-width:100%;max-width:100%;margin-bottom:3%;flex-direction: row;flex-wrap: nowrap;align-content: flex-start;justify-content: flex-start;align-items: flex-start;}
.rodaperowmenu {min-width:100%;max-width:100%;margin-bottom:1.8%;text-align:center;}
.rodapecoluna {display:inline-block;vertical-align:top;}
.rodapeitem {display:inline-block;cursor:pointer;padding:5px 13px;padding-top:3px;margin:8px;border-radius:var(--circulo);background-color:var(--roxo);color:var(--creme);}
.rodapeitem:hover {background-color:var(--creme);color:var(--roxo);}

.iconesocialouterwrap {min-width:100%;max-width:100%;text-align:center;margin-top:5%;}
.iconesocialwrap {display:inline-block;margin:1.8%;}
.iconesocial {cursor:pointer;height:auto;width:100%;max-width:26px;}
.iconerodapewrap {margin:0px 3%;float:left;}
.iconerodape {width:100%;max-width:49px;height:auto;}
/* rodape */

/* wrap intro */
#introwrap {min-width:100%;max-width:100%;margin:0 auto;margin-top:90px;position:relative;}
.introimg {height:auto;width:100%;max-width:var(--maxbody);}
@media only screen and (max-width: 600px) {
	.introimg {width:auto;height:100%;}
	#introwrap {margin-bottom:26%;}
}
@media only screen and (max-width: 480px) {
	#introwrap {margin-bottom:34%;}
}
@media only screen and (max-width: 380px) {
	#introwrap {margin-bottom:43%;}
}
@media only screen and (max-width: 320px) {
	#introwrap {margin-bottom:55%;}
}

.txtintrowrap {position:absolute;top:13%;right:13%;padding:3% 5%;}
.txtintro {text-align:left;font-size:72px;line-height:55px;color:var(--creme);border-left:3px solid var(--rosa);padding-left:13px;}
.txtintrospan {line-height:13px;margin:0 auto;margin-top:21px;font-size:18px;display:block;}
@media only screen and (max-width: 900px) {
	.txtintrowrap {top:21%;}
	.txtintro {font-size:55px;line-height:34px;}
}
@media only screen and (max-width: 640px) {
	.txtintrowrap {padding:8% 5%;border:13px solid var(--creme);}
	.txtintro {font-size:34px;line-height:26px;}
	.txtintrospan{font-size:13px;margin-top:18px;}
}

.botaointro {cursor:pointer;white-space:nowrap;float:left;;padding:3% 5%;padding-top:1.8%;margin-top:13%;background-color:transparent;border-radius:var(--circulo);font-size:21px;border:3px solid var(--creme);color:var(--creme);}
.botaointro:hover {border:3px solid var(--creme);background-color:var(--roxo);color:var(--creme);}

.descindex {
	font-size:36px;
	line-height:34px;
	margin-bottom:8px;
	color:var(--creme);
	font-weight:900;
	text-align:right;
}
.descindexmenor {
	font-size:18px;
	line-height:24px;
	text-align:right;
	color:var(--creme);
}
.bold {
	font-weight:700;
}

@media screen and (max-width: 770px) {
	.descindex {
		font-size:18px;
		line-height:21px;
	}
	.descindexmenor {
		font-size:12px;
		line-height:16px;
	}
}

.passos {
	padding:34% 8%;
}
@media screen and (max-width: 770px) {
	.passos {min-width:100%;max-width:100%;padding:5%;}
}
/* wrap intro */

/* maquete */
#maquete {position:absolute;right:9%;top:18%;min-width:26%;max-width:26%;min-height:55%;max-height:55%;border:1px solid var(--roxo);border-radius:4px;float:left;text-align:center;display:none;}
#maquete div {cursor: move;cursor: grab;cursor: -moz-grab;cursor: -webkit-grab;position:absolute;border:1px solid var(--roxo);border-radius:4px;display:inline-block;}
#maquete div:active {cursor: grabbing;cursor: -moz-grabbing;cursor: -webkit-grabbing;}
/* maquete */

/* sections */
.conhecabutton {cursor:pointer;display: inline-block;background-color: var(--azul);padding: 3% 8%;padding-top: 2.3%;margin-top: 3%;border-radius: var(--circulo);}
.conhecabutton:hover {background-color: var(--creme);color:var(--roxo);}

.sectionwrap {display:flex;align-items:center;justify-content:space-evenly;}
@media screen and (max-width: 770px) {
	.sectionwrap {margin:5% auto;}
}
.formulariowrap {position:relative;min-width:81%;max-width:81%;text-align:center;display:inline-block;min-height:555px;height:100%;background-position:left;background-repeat: no-repeat;background-size: contain;}
#content {position:absolute;top:13%;margin:0 auto;border-radius:var(--radius);padding:1.8% 0px;padding-top:1%;right:0;}

.sectiontexto {min-width:50%;max-width:50%;}
.sectionimg {min-width:36%;max-width:36%;}
@media screen and (max-width: 770px) {
	.formulariowrap {background-position: center;min-height:auto;margin-bottom:8%;}
	#content {position:relative;display:inline-block;float:none;}
	.sectiontexto {min-width:62%;max-width:62%;}
	.sectionimg {min-width:38%;max-width:38%;}
}
/* sections */

/* como funciona */
.comofuncionaouterwrap {min-width:100%;max-width:100%;padding:5%;padding-top:1.8%;display:flex;flex-direction:row;justify-content: space-evenly;align-items: flex-start;flex-wrap: wrap;}
.comofuncionawrap {min-width:30%;display:flex;flex-direction:row;flex-wrap:nowrap;align-content: space-between;;justify-content: center;align-items: flex-start;flex:1;margin:1%;padding:5% 3%;padding-top:3%;border-left:8px solid var(--rosa);}
.comofuncionawrap * {flex:1;flex-grow:1;}
.comofuncionaimg {padding:5%;padding-top:3%;}
.comofuncionatexto {}
.comofazemostitle {font-size:18px;line-height:21px;margin-bottom:8px;color:var(--creme);font-weight:900;text-align:left;}
.comofazemosdesc {font-size:13px;line-height:18px;text-align:left;color:var(--creme);}
@media screen and (max-width: 770px) {
	.comofuncionawrap {min-width:81%;}
}
@media screen and (max-width: 400px) {
	.comofuncionawrap {min-width:81%;}
}
/* como funciona */
